/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 480px) {
   .education {
     
      margin-left: 1.5rem;
      margin-top: 2rem;
  }
  .eduSchool{
   margin-left: 1.5rem;
   margin-right: 1.5rem;
  }
  .eduSchool .education-institution .add-education-achievement .institution .under-line {
      -webkit-text-underline-position: under;
      -ms-text-underline-position: below;
      text-underline-position: under;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
   }
   .eduSchool .education-institution .add-education-achievement .institution h4 {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: .6rem;
  }
  .eduSchool .education-institution .add-education-achievement .institution p {
      margin-bottom: 0;
      text-align: justify;
      font-size: 13px;
      font-weight: 400;
      margin-top: .3rem;
   }
   .eduSchool .education-institution .add-education-achievement .institution {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }