body {
  background-image: linear-gradient(136deg, #fff5f669, #ededffb5);
}

.cv-body {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.34);
}

.profilePic img {
  width: 50%;
  height: 50%;
  margin-top: 20%;
  border: 5px solid #f1f2f3;
}

.profilePic .profiletext {
  font-size: 14px;
  letter-spacing: 5px;
  font-weight: 700;
}

.profilePic .profile-text-summary {
  font-size: 12px;
}

.singleBorder {
  border-top: 3px solid #fff;
}

.contact-section {
  margin-bottom: 1rem;
}

.contact-section .phone-icon {
  margin: 0;
  margin-top: 1rem;
}

.contact-section .phone-number {
  margin: 0;
  letter-spacing: 2px;
}

.email-section {
  margin-bottom: 1rem;
}

.email-section .email-icon {
  margin: 0;
  margin-top: 1rem;
}

.email-section .email-address {
  margin: 0;
  letter-spacing: 2px;
}

.address-section {
  margin-bottom: 1rem;
}

.address-section .home-icon {
  margin: 0;
  margin-top: 1rem;
}

.address-section .home-address {
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.SkileRange {
  margin: 1.45rem;
}

.raingSlider {
  margin-bottom: .4rem;
}

.raingSlider .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  outline: none;
}

.raingSlider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border: 2px solid rgba(22, 22, 22, 0.815);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
          box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
}

.raingSlider .skillText {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: -10px;
}

.nametitle {
  width: 100%;
  height: 9%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #EAEAEA !important;
}

.nametitle .NameFirstLatter {
  text-align: right;
  margin-top: -2rem;
}

.nametitle .NameFirstLatter h1 {
  font-size: 7rem;
}

.nametitle .NameDetails {
  border-left: 3px solid #000;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.nametitle .NameDetails h1 {
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 700;
}

.nametitle .NameDetails p {
  font-size: 18px;
  font-weight: 700;
  margin-top: -.5rem;
  margin-bottom: 0;
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5rem;
  margin-top: 2rem;
}

.education h5 {
  margin-right: 2rem;
  text-transform: uppercase;
}

.education span {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background: black;
  margin-top: -.40rem;
}

.eduSchool {
  position: relative;
}

.educationinstitution {
  margin-left: 5rem;
  margin-top: 2rem;
  border-left: 4px solid #000;
  max-height: auto;
  min-height: 70px;
}

.eduSchool {
  position: relative;
  margin-left: 5rem;
  position: relative;
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.eduSchool .education-icon {
  position: absolute;
  left: -1.1rem;
  background-color: black;
  border: 3px solid #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.eduSchool .education-icon i {
  padding: 8px 0px 0px 5px;
  font-size: 1.2rem;
}

.eduSchool .education-icon .experience-icon {
  padding: 9px 0px 0px 7px;
  font-size: 1.2rem;
}

.eduSchool .education-institution {
  border-left: 4px solid;
}

.eduSchool .education-institution:before {
  content: "";
  display: block;
  width: 3rem;
  background-color: #000;
  height: 4px;
}

.eduSchool .education-institution:after {
  content: "";
  display: block;
  width: 3rem;
  background-color: #000;
  height: 4px;
}

.eduSchool .education-institution .add-education-achievement {
  margin-left: 3rem;
}

.eduSchool .education-institution .add-education-achievement .institution {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.eduSchool .education-institution .add-education-achievement .institution h2 {
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.eduSchool .education-institution .add-education-achievement .institution .under-line {
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}

.eduSchool .education-institution .add-education-achievement .institution h4 {
  font-size: 18px;
  line-height: 1rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.eduSchool .education-institution .add-education-achievement .institution h4 span {
  font-size: 11px;
}

.eduSchool .education-institution .add-education-achievement .institution p {
  margin-bottom: 0;
}

.Hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -0.6rem;
  margin-left: 5rem;
}

.Hobbies .hobbies-img {
  padding: 0.5rem;
}

.Hobbies .hobbies-img img {
  height: 2rem;
}
/*# sourceMappingURL=style.css.map */