body {
    background-image: linear-gradient(136deg, #fff5f669, #ededffb5);
}

.cv-body {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.34);
}
.profilePic{
   img{
    width:50%;
    height: 50%;
    margin-top: 20%;
    border: 5px solid #f1f2f3;
  
   }
   .profiletext{
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 700;
}

.profile-text-summary{
    font-size: 12px;
}
}
.singleBorder{
    border-top: 3px solid #fff;
}
.contact-section{
    margin-bottom: 1rem;
    .phone-icon{
        margin: 0;
        margin-top: 1rem;
        
    }
    .phone-number{
        margin: 0;
        letter-spacing: 2px;
    }
    
}

.email-section{
    margin-bottom: 1rem;
    .email-icon{
        margin: 0;
        margin-top: 1rem;
    }
    .email-address{
        margin: 0;
        letter-spacing: 2px;
    }
}
.address-section{
    margin-bottom: 1rem;
    .home-icon{
        margin: 0;
        margin-top: 1rem;
    }
    .home-address{
        margin: 0;
        letter-spacing: 2px;
        margin-bottom: 1rem;
    }
}
.SkileRange {
    margin: 1.45rem;
}

.raingSlider{
    margin-bottom: .4rem;
    .slider{
        -webkit-appearance: none;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        outline: none;

    }
    .slider::-webkit-slider-thumb{
        -webkit-appearance: none;
        width:1rem;
        height:1rem;
        background-color:#fff ;
        border: 2px solid rgba(22, 22, 22, 0.815);
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        box-shadow: 0 0 0 0 rgba(98, 0, 238, .1);
    }
    .skillText{
        margin: 0;
        padding: 0;
        font-size: 13px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: -10px;
    }
}

$Light_gray:#EAEAEA;

.nametitle {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$Light_gray ;
    margin-top: 5rem;
    .NameFirstLatter{

      h2{
          font-size: 8rem;
          font-weight: bolder;
      }
   
    }
    .NameDetails{
        border-left: 4px solid #000;
        height: 5.8rem;
        margin-left: 1rem;
        padding-left: 1rem;
    }
}

// Education section
.education{
        display: flex;
        align-items: center;
        margin-left: 5rem;
        margin-top: 2rem;
    h5{
        margin-right: 2rem;
        text-transform: uppercase;
    }
    span{
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        background: black;
        margin-top: -.40rem;
    }
}
.eduSchool{
    position: relative;
}
.educationinstitution{
    margin-left: 5rem;
    margin-top: 2rem;
    border-left: 4px solid #000;
    max-height: auto;
    min-height: 70px;
}

.eduSchool {
    position: relative;
    margin-left: 5rem;
    position: relative;
    margin-left: 5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;

    .education-icon {
        position: absolute;
        left: -1.1rem;
        background-color: black;
        border: 3px solid #fff;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;

        i{
            padding: 8px 0px 0px 5px;
            font-size: 1.2rem;
        }
        .experience-icon{
            padding: 9px 0px 0px 7px;
            font-size: 1.2rem;
        }
        
      
    }
    
    .education-institution {
        border-left: 4px solid;

        &:before {
            content: "";
            display: block;
            width: 3rem;
            background-color: #000;
            height: 4px;
        }

         &:after {
            content: "";
            display: block;
            width: 3rem;
            background-color: #000;
            height: 4px;
         }

         .add-education-achievement{
             margin-left: 3rem;

            .institution{
                margin-top: 1rem;
                margin-bottom: 1rem;
                h2 {
                    text-decoration: underline;
                    font-size: 25px;
                    font-weight: bold;
                }
                .under-line {
                    -webkit-text-underline-position: under;
                    -ms-text-underline-position: below;
                    text-underline-position: under;
                }
                h4{
                    font-size: 18px;
                    line-height: 1rem;
                    margin-bottom: 0;
                    margin-top: 1rem;
                    span {
                        font-size: 11px;
                    }
                }
                p{
                    margin-bottom: 0;
                }
                
                
            } 
         }
    }
}

.Hobbies{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.6rem;
    margin-left: 5rem;
    .hobbies-img{

        padding: 0.5rem;

            img{
                height: 2rem;
            }
    }
}